<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.eight-ar</key>
  <array>
    <string>seven-persian.urdu</string>
  </array>
  <key>public.kern1.four-ar</key>
  <array>
    <string>four-ar</string>
    <string>four-persian.roh</string>
  </array>
  <key>public.kern1.one-ar</key>
  <array>
    <string>five-persian</string>
  </array>
  <key>public.kern1.seven-ar</key>
  <array>
    <string>seven-ar</string>
    <string>seven-persian</string>
  </array>
  <key>public.kern1.six-ar</key>
  <array>
    <string>eight-ar</string>
    <string>eight-persian</string>
    <string>nine-ar</string>
    <string>nine-persian</string>
    <string>six-ar</string>
    <string>six-persian.urdu</string>
  </array>
  <key>public.kern1.three-ar</key>
  <array>
    <string>four-persian</string>
    <string>four-persian.urdu</string>
    <string>three-ar</string>
    <string>three-persian</string>
  </array>
  <key>public.kern1.two-ar</key>
  <array>
    <string>two-ar</string>
    <string>two-persian</string>
  </array>
  <key>public.kern1.zero-ar</key>
  <array>
    <string>zero-ar</string>
    <string>zero-persian</string>
  </array>
  <key>public.kern2.eight-ar</key>
  <array>
    <string>eight-ar</string>
    <string>eight-persian</string>
    <string>seven-persian.urdu</string>
  </array>
  <key>public.kern2.four-ar</key>
  <array>
    <string>four-ar</string>
    <string>four-persian.roh</string>
  </array>
  <key>public.kern2.nine-ar</key>
  <array>
    <string>nine-ar</string>
    <string>nine-persian</string>
  </array>
  <key>public.kern2.one-ar</key>
  <array>
    <string>four-persian</string>
    <string>one-ar</string>
    <string>one-persian</string>
    <string>three-ar</string>
    <string>three-persian</string>
    <string>two-ar</string>
    <string>two-persian</string>
  </array>
  <key>public.kern2.seven-ar</key>
  <array>
    <string>seven-ar</string>
    <string>seven-persian</string>
  </array>
  <key>public.kern2.six-ar</key>
  <array>
    <string>six-ar</string>
    <string>six-persian.urdu</string>
  </array>
  <key>public.kern2.zero-ar</key>
  <array>
    <string>zero-ar</string>
    <string>zero-persian</string>
  </array>
</dict>
</plist>
