<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>eight-ar</key>
  <dict>
    <key>public.kern2.seven-ar</key>
    <integer>-190</integer>
    <key>public.kern2.six-ar</key>
    <integer>-170</integer>
  </dict>
  <key>five-ar</key>
  <dict>
    <key>public.kern2.eight-ar</key>
    <integer>-40</integer>
    <key>public.kern2.one-ar</key>
    <integer>-50</integer>
    <key>public.kern2.seven-ar</key>
    <integer>-60</integer>
    <key>public.kern2.six-ar</key>
    <integer>-100</integer>
    <key>six-persian</key>
    <integer>-50</integer>
  </dict>
  <key>four-persian</key>
  <dict>
    <key>public.kern2.eight-ar</key>
    <integer>-180</integer>
  </dict>
  <key>four-persian.urdu</key>
  <dict>
    <key>public.kern2.eight-ar</key>
    <integer>-300</integer>
  </dict>
  <key>one-ar</key>
  <dict>
    <key>public.kern2.one-ar</key>
    <integer>0</integer>
    <key>public.kern2.seven-ar</key>
    <integer>-20</integer>
    <key>public.kern2.six-ar</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.four-ar</key>
  <dict>
    <key>four-persian.urdu</key>
    <integer>-40</integer>
    <key>public.kern2.nine-ar</key>
    <integer>-90</integer>
    <key>public.kern2.one-ar</key>
    <integer>-100</integer>
    <key>public.kern2.seven-ar</key>
    <integer>-100</integer>
    <key>public.kern2.six-ar</key>
    <integer>-90</integer>
    <key>public.kern2.zero-ar</key>
    <integer>-110</integer>
  </dict>
  <key>public.kern1.one-ar</key>
  <dict>
    <key>public.kern2.nine-ar</key>
    <integer>0</integer>
    <key>public.kern2.one-ar</key>
    <integer>-30</integer>
    <key>public.kern2.seven-ar</key>
    <integer>-60</integer>
    <key>public.kern2.six-ar</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.seven-ar</key>
  <dict>
    <key>five-ar</key>
    <integer>-100</integer>
    <key>five-persian</key>
    <integer>-100</integer>
    <key>public.kern2.eight-ar</key>
    <integer>-200</integer>
    <key>public.kern2.four-ar</key>
    <integer>-20</integer>
    <key>public.kern2.zero-ar</key>
    <integer>-120</integer>
    <key>six-persian</key>
    <integer>-90</integer>
  </dict>
  <key>public.kern1.seven-persian.urdu</key>
  <dict>
    <key>five-ar</key>
    <integer>-30</integer>
    <key>four-persian.urdu</key>
    <integer>-40</integer>
    <key>public.kern2.four-ar</key>
    <integer>-50</integer>
    <key>public.kern2.nine-ar</key>
    <integer>-120</integer>
    <key>public.kern2.one-ar</key>
    <integer>-130</integer>
    <key>public.kern2.seven-ar</key>
    <integer>-140</integer>
    <key>public.kern2.six-ar</key>
    <integer>-200</integer>
    <key>public.kern2.zero-ar</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.six-ar</key>
  <dict>
    <key>four-persian.urdu</key>
    <integer>-20</integer>
    <key>public.kern2.nine-ar</key>
    <integer>-100</integer>
    <key>public.kern2.one-ar</key>
    <integer>-100</integer>
    <key>public.kern2.seven-ar</key>
    <integer>-80</integer>
    <key>public.kern2.six-ar</key>
    <integer>-60</integer>
    <key>public.kern2.zero-ar</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.three-ar</key>
  <dict>
    <key>five-ar</key>
    <integer>-110</integer>
    <key>five-persian</key>
    <integer>-120</integer>
    <key>public.kern2.eight-ar</key>
    <integer>-200</integer>
    <key>public.kern2.four-ar</key>
    <integer>-70</integer>
    <key>public.kern2.zero-ar</key>
    <integer>-160</integer>
    <key>six-persian</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.two-ar</key>
  <dict>
    <key>five-ar</key>
    <integer>-110</integer>
    <key>five-persian</key>
    <integer>-130</integer>
    <key>public.kern2.eight-ar</key>
    <integer>-160</integer>
    <key>public.kern2.four-ar</key>
    <integer>-40</integer>
    <key>public.kern2.zero-ar</key>
    <integer>-130</integer>
    <key>six-persian</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.zero-ar</key>
  <dict>
    <key>public.kern2.eight-ar</key>
    <integer>-100</integer>
    <key>public.kern2.one-ar</key>
    <integer>-70</integer>
    <key>public.kern2.seven-ar</key>
    <integer>-120</integer>
    <key>public.kern2.six-ar</key>
    <integer>-170</integer>
    <key>six-persian</key>
    <integer>-70</integer>
  </dict>
  <key>six-persian</key>
  <dict>
    <key>five-ar</key>
    <integer>-40</integer>
    <key>five-persian</key>
    <integer>-80</integer>
    <key>public.kern2.eight-ar</key>
    <integer>-170</integer>
    <key>public.kern2.zero-ar</key>
    <integer>-60</integer>
  </dict>
</dict>
</plist>
