<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_absSwashKaf</key>
  <string>_absS_washK_af.glif</string>
  <key>_alef-ar.fina.postLamMed</key>
  <string>_alef-ar.fina.postL_amM_ed.glif</string>
  <key>_bar</key>
  <string>_bar.glif</string>
  <key>_bowl_seen</key>
  <string>_bowl_seen.glif</string>
  <key>_comma</key>
  <string>_comma.glif</string>
  <key>_damma</key>
  <string>_damma.glif</string>
  <key>_damma.filled</key>
  <string>_damma.filled.glif</string>
  <key>_dot1</key>
  <string>_dot1.glif</string>
  <key>_dot1_dot3d</key>
  <string>_dot1_dot3d.glif</string>
  <key>_dot1_dot3u</key>
  <string>_dot1_dot3u.glif</string>
  <key>_dot1_hat</key>
  <string>_dot1_hat.glif</string>
  <key>_dot1_small</key>
  <string>_dot1_small.glif</string>
  <key>_dot1_smallV</key>
  <string>_dot1_smallV_.glif</string>
  <key>_dot1_tah</key>
  <string>_dot1_tah.glif</string>
  <key>_dot2h</key>
  <string>_dot2h.glif</string>
  <key>_dot2h_small</key>
  <string>_dot2h_small.glif</string>
  <key>_dot2h_smallV</key>
  <string>_dot2h_smallV_.glif</string>
  <key>_dot2h_tah</key>
  <string>_dot2h_tah.glif</string>
  <key>_dot2h_tah_small</key>
  <string>_dot2h_tah_small.glif</string>
  <key>_dot2v</key>
  <string>_dot2v.glif</string>
  <key>_dot3d</key>
  <string>_dot3d.glif</string>
  <key>_dot3d.smaller</key>
  <string>_dot3d.smaller.glif</string>
  <key>_dot3h</key>
  <string>_dot3h.glif</string>
  <key>_dot3u</key>
  <string>_dot3u.glif</string>
  <key>_dot3u_tah</key>
  <string>_dot3u_tah.glif</string>
  <key>_dot4</key>
  <string>_dot4.glif</string>
  <key>_dotCircular</key>
  <string>_dotC_ircular.glif</string>
  <key>_dot_punct</key>
  <string>_dot_punct.glif</string>
  <key>_gafBar</key>
  <string>_gafB_ar.glif</string>
  <key>_gafBarShort_dot2h</key>
  <string>_gafB_arS_hort_dot2h.glif</string>
  <key>_gafBarShort_dot3u</key>
  <string>_gafB_arS_hort_dot3u.glif</string>
  <key>_gafBar_dot2h</key>
  <string>_gafB_ar_dot2h.glif</string>
  <key>_gafBar_dot3u</key>
  <string>_gafB_ar_dot3u.glif</string>
  <key>_hamza</key>
  <string>_hamza.glif</string>
  <key>_hamzaDamma</key>
  <string>_hamzaD_amma.glif</string>
  <key>_hamzaDamma.filled</key>
  <string>_hamzaD_amma.filled.glif</string>
  <key>_highHamza</key>
  <string>_highH_amza.glif</string>
  <key>_hook</key>
  <string>_hook.glif</string>
  <key>_invSmallV</key>
  <string>_invS_mallV_.glif</string>
  <key>_kaf_left</key>
  <string>_kaf_left.glif</string>
  <key>_kaf_s</key>
  <string>_kaf_s.glif</string>
  <key>_kehehjoiner</key>
  <string>_kehehjoiner.glif</string>
  <key>_lam-ar.init.preAlef</key>
  <string>_lam-ar.init.preA_lef.glif</string>
  <key>_lam-ar.medi.preAlef</key>
  <string>_lam-ar.medi.preA_lef.glif</string>
  <key>_lines</key>
  <string>_lines.glif</string>
  <key>_madda</key>
  <string>_madda.glif</string>
  <key>_meem</key>
  <string>_meem.glif</string>
  <key>_noon</key>
  <string>_noon.glif</string>
  <key>_perdivider</key>
  <string>_perdivider.glif</string>
  <key>_smallV</key>
  <string>_smallV_.glif</string>
  <key>_strokeHead</key>
  <string>_strokeH_ead.glif</string>
  <key>_tah</key>
  <string>_tah.glif</string>
  <key>_tah_small</key>
  <string>_tah_small.glif</string>
  <key>_tah_smallV</key>
  <string>_tah_smallV_.glif</string>
  <key>_wasla</key>
  <string>_wasla.glif</string>
  <key>_wavyHamza</key>
  <string>_wavyH_amza.glif</string>
  <key>absAutoKashida</key>
  <string>absA_utoK_ashida.glif</string>
  <key>ae-ar</key>
  <string>ae-ar.glif</string>
  <key>ae-ar.fina</key>
  <string>ae-ar.fina.glif</string>
  <key>afghani-ar</key>
  <string>afghani-ar.glif</string>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>ain-ar.init</key>
  <string>ain-ar.init.glif</string>
  <key>ain-ar.medi</key>
  <string>ain-ar.medi.glif</string>
  <key>alayheAssallamcomb-ar</key>
  <string>alayheA_ssallamcomb-ar.glif</string>
  <key>alef-ar</key>
  <string>alef-ar.glif</string>
  <key>alef-ar.allah</key>
  <string>alef-ar.allah.glif</string>
  <key>alef-ar.fina</key>
  <string>alef-ar.fina.glif</string>
  <key>alef-ar.fina.allah</key>
  <string>alef-ar.fina.allah.glif</string>
  <key>alefLamYehabove-ar</key>
  <string>alefL_amY_ehabove-ar.glif</string>
  <key>alefWasla-ar.allah</key>
  <string>alefW_asla-ar.allah.glif</string>
  <key>alefWasla-ar.fina.allah</key>
  <string>alefW_asla-ar.fina.allah.glif</string>
  <key>alefbelow-ar</key>
  <string>alefbelow-ar.glif</string>
  <key>aleflow-ar</key>
  <string>aleflow-ar.glif</string>
  <key>allah-ar</key>
  <string>allah-ar.glif</string>
  <key>behDotless-ar</key>
  <string>behD_otless-ar.glif</string>
  <key>behDotless-ar.fina</key>
  <string>behD_otless-ar.fina.glif</string>
  <key>behDotless-ar.init</key>
  <string>behD_otless-ar.init.glif</string>
  <key>behDotless-ar.medi</key>
  <string>behD_otless-ar.medi.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma-ar</key>
  <string>comma-ar.glif</string>
  <key>comma-ar.downward</key>
  <string>comma-ar.downward.glif</string>
  <key>commareversed</key>
  <string>commareversed.glif</string>
  <key>cuberoot-ar</key>
  <string>cuberoot-ar.glif</string>
  <key>dal-ar</key>
  <string>dal-ar.glif</string>
  <key>dal-ar.fina</key>
  <string>dal-ar.fina.glif</string>
  <key>damma-ar</key>
  <string>damma-ar.glif</string>
  <key>dammaCurly-ar</key>
  <string>dammaC_urly-ar.glif</string>
  <key>dammaDot-ar</key>
  <string>dammaD_ot-ar.glif</string>
  <key>dammainverted-ar</key>
  <string>dammainverted-ar.glif</string>
  <key>dammareversed-ar</key>
  <string>dammareversed-ar.glif</string>
  <key>dammatan-ar</key>
  <string>dammatan-ar.glif</string>
  <key>dammatan-ar.sixNine</key>
  <string>dammatan-ar.sixN_ine.glif</string>
  <key>dammatanCurly-ar</key>
  <string>dammatanC_urly-ar.glif</string>
  <key>dammaturnedbelow-ar</key>
  <string>dammaturnedbelow-ar.glif</string>
  <key>dateseparator-ar</key>
  <string>dateseparator-ar.glif</string>
  <key>eight-ar</key>
  <string>eight-ar.glif</string>
  <key>eight-ar.medium</key>
  <string>eight-ar.medium.glif</string>
  <key>eight-ar.small</key>
  <string>eight-ar.small.glif</string>
  <key>eight-ar.tnum</key>
  <string>eight-ar.tnum.glif</string>
  <key>eight-persian</key>
  <string>eight-persian.glif</string>
  <key>eight-persian.medium</key>
  <string>eight-persian.medium.glif</string>
  <key>eight-persian.small</key>
  <string>eight-persian.small.glif</string>
  <key>eight-persian.tnum</key>
  <string>eight-persian.tnum.glif</string>
  <key>eight.medium</key>
  <string>eight.medium.glif</string>
  <key>eight.small</key>
  <string>eight.small.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>fatha-ar</key>
  <string>fatha-ar.glif</string>
  <key>fatha-ar.allah</key>
  <string>fatha-ar.allah.glif</string>
  <key>fathaCurly-ar</key>
  <string>fathaC_urly-ar.glif</string>
  <key>fathaDotabove-ar</key>
  <string>fathaD_otabove-ar.glif</string>
  <key>fathaHorizont-ar</key>
  <string>fathaH_orizont-ar.glif</string>
  <key>fathaRing-ar</key>
  <string>fathaR_ing-ar.glif</string>
  <key>fathatan-ar</key>
  <string>fathatan-ar.glif</string>
  <key>fathatwodots-ar</key>
  <string>fathatwodots-ar.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless-ar.fina</key>
  <string>fehD_otless-ar.fina.glif</string>
  <key>fehDotless-ar.init</key>
  <string>fehD_otless-ar.init.glif</string>
  <key>fehDotless-ar.medi</key>
  <string>fehD_otless-ar.medi.glif</string>
  <key>five-ar</key>
  <string>five-ar.glif</string>
  <key>five-ar.medium</key>
  <string>five-ar.medium.glif</string>
  <key>five-ar.small</key>
  <string>five-ar.small.glif</string>
  <key>five-ar.tnum</key>
  <string>five-ar.tnum.glif</string>
  <key>five-persian</key>
  <string>five-persian.glif</string>
  <key>five-persian.medium</key>
  <string>five-persian.medium.glif</string>
  <key>five-persian.small</key>
  <string>five-persian.small.glif</string>
  <key>five-persian.tnum</key>
  <string>five-persian.tnum.glif</string>
  <key>five.medium</key>
  <string>five.medium.glif</string>
  <key>five.small</key>
  <string>five.small.glif</string>
  <key>footnotemarker-ar</key>
  <string>footnotemarker-ar.glif</string>
  <key>footnotemarker-ar.2</key>
  <string>footnotemarker-ar.2.glif</string>
  <key>four-ar</key>
  <string>four-ar.glif</string>
  <key>four-ar.medium</key>
  <string>four-ar.medium.glif</string>
  <key>four-ar.small</key>
  <string>four-ar.small.glif</string>
  <key>four-ar.tnum</key>
  <string>four-ar.tnum.glif</string>
  <key>four-persian</key>
  <string>four-persian.glif</string>
  <key>four-persian.medium</key>
  <string>four-persian.medium.glif</string>
  <key>four-persian.small</key>
  <string>four-persian.small.glif</string>
  <key>four-persian.tnum</key>
  <string>four-persian.tnum.glif</string>
  <key>four-persian.urdu</key>
  <string>four-persian.urdu.glif</string>
  <key>four-persian.urdu.medium</key>
  <string>four-persian.urdu.medium.glif</string>
  <key>four-persian.urdu.small</key>
  <string>four-persian.urdu.small.glif</string>
  <key>four-persian.urdu.tnum</key>
  <string>four-persian.urdu.tnum.glif</string>
  <key>four.medium</key>
  <string>four.medium.glif</string>
  <key>four.small</key>
  <string>four.small.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fourthroot-ar</key>
  <string>fourthroot-ar.glif</string>
  <key>fullstop-ar</key>
  <string>fullstop-ar.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetleft.latn</key>
  <string>guillemetleft.latn.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guillemetright.latn</key>
  <string>guillemetright.latn.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>hah-ar</key>
  <string>hah-ar.glif</string>
  <key>hah-ar.fina</key>
  <string>hah-ar.fina.glif</string>
  <key>hah-ar.init</key>
  <string>hah-ar.init.glif</string>
  <key>hah-ar.medi</key>
  <string>hah-ar.medi.glif</string>
  <key>hahabove-ar</key>
  <string>hahabove-ar.glif</string>
  <key>hamza-ar</key>
  <string>hamza-ar.glif</string>
  <key>hamza_damma-ar</key>
  <string>hamza_damma-ar.glif</string>
  <key>hamza_fatha-ar</key>
  <string>hamza_fatha-ar.glif</string>
  <key>hamzaabove-ar</key>
  <string>hamzaabove-ar.glif</string>
  <key>hamzabelow-ar</key>
  <string>hamzabelow-ar.glif</string>
  <key>heh-ar.fina.knottedHigh</key>
  <string>heh-ar.fina.knottedH_igh.glif</string>
  <key>heh-ar.medi.knottedHigh</key>
  <string>heh-ar.medi.knottedH_igh.glif</string>
  <key>hehDoachashmee-ar</key>
  <string>hehD_oachashmee-ar.glif</string>
  <key>hehDoachashmee-ar.fina</key>
  <string>hehD_oachashmee-ar.fina.glif</string>
  <key>hehDoachashmee-ar.init</key>
  <string>hehD_oachashmee-ar.init.glif</string>
  <key>hehDoachashmee-ar.medi</key>
  <string>hehD_oachashmee-ar.medi.glif</string>
  <key>hehgoal-ar.fina</key>
  <string>hehgoal-ar.fina.glif</string>
  <key>hehgoal-ar.fina.allah</key>
  <string>hehgoal-ar.fina.allah.glif</string>
  <key>hehgoal-ar.init</key>
  <string>hehgoal-ar.init.glif</string>
  <key>hehgoal-ar.medi</key>
  <string>hehgoal-ar.medi.glif</string>
  <key>highhamza-ar</key>
  <string>highhamza-ar.glif</string>
  <key>highwaw-ar</key>
  <string>highwaw-ar.glif</string>
  <key>hizb-ar</key>
  <string>hizb-ar.glif</string>
  <key>jeemabove-ar</key>
  <string>jeemabove-ar.glif</string>
  <key>kaf-ar</key>
  <string>kaf-ar.glif</string>
  <key>kaf-ar.fina</key>
  <string>kaf-ar.fina.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>kafswash-ar</key>
  <string>kafswash-ar.glif</string>
  <key>kafswash-ar.fina</key>
  <string>kafswash-ar.fina.glif</string>
  <key>kafswash-ar.init</key>
  <string>kafswash-ar.init.glif</string>
  <key>kafswash-ar.medi</key>
  <string>kafswash-ar.medi.glif</string>
  <key>kasra-ar</key>
  <string>kasra-ar.glif</string>
  <key>kasra-ar.lowered</key>
  <string>kasra-ar.lowered.glif</string>
  <key>kasraDotbelow-ar</key>
  <string>kasraD_otbelow-ar.glif</string>
  <key>kasratan-ar</key>
  <string>kasratan-ar.glif</string>
  <key>kasratan-ar.lowered</key>
  <string>kasratan-ar.lowered.glif</string>
  <key>keheh-ar</key>
  <string>keheh-ar.glif</string>
  <key>keheh-ar.fina</key>
  <string>keheh-ar.fina.glif</string>
  <key>kehehThreedotsbelow-ar</key>
  <string>kehehT_hreedotsbelow-ar.glif</string>
  <key>kehehThreedotsbelow-ar.fina</key>
  <string>kehehT_hreedotsbelow-ar.fina.glif</string>
  <key>kehehTwodotshorizontalabove-ar</key>
  <string>kehehT_wodotshorizontalabove-ar.glif</string>
  <key>kehehTwodotshorizontalabove-ar.fina</key>
  <string>kehehT_wodotshorizontalabove-ar.fina.glif</string>
  <key>kirghizoe-ar.fina</key>
  <string>kirghizoe-ar.fina.glif</string>
  <key>lam-ar</key>
  <string>lam-ar.glif</string>
  <key>lam-ar.fina</key>
  <string>lam-ar.fina.glif</string>
  <key>lam-ar.init</key>
  <string>lam-ar.init.glif</string>
  <key>lam-ar.init.allah1</key>
  <string>lam-ar.init.allah1.glif</string>
  <key>lam-ar.medi</key>
  <string>lam-ar.medi.glif</string>
  <key>lam-ar.medi.allah1</key>
  <string>lam-ar.medi.allah1.glif</string>
  <key>lam-ar.medi.allah2</key>
  <string>lam-ar.medi.allah2.glif</string>
  <key>lamAlefabove-ar</key>
  <string>lamA_lefabove-ar.glif</string>
  <key>madda-ar</key>
  <string>madda-ar.glif</string>
  <key>maddalong-ar</key>
  <string>maddalong-ar.glif</string>
  <key>marksidewaysnoonghunna-ar</key>
  <string>marksidewaysnoonghunna-ar.glif</string>
  <key>meem-ar</key>
  <string>meem-ar.glif</string>
  <key>meem-ar.fina</key>
  <string>meem-ar.fina.glif</string>
  <key>meem-ar.fina.sindhi</key>
  <string>meem-ar.fina.sindhi.glif</string>
  <key>meem-ar.init</key>
  <string>meem-ar.init.glif</string>
  <key>meem-ar.medi</key>
  <string>meem-ar.medi.glif</string>
  <key>meem-ar.sindhi</key>
  <string>meem-ar.sindhi.glif</string>
  <key>meemStopabove-ar</key>
  <string>meemS_topabove-ar.glif</string>
  <key>meemabove-ar</key>
  <string>meemabove-ar.glif</string>
  <key>meembelow-ar</key>
  <string>meembelow-ar.glif</string>
  <key>misraComma-ar</key>
  <string>misraC_omma-ar.glif</string>
  <key>nine-ar</key>
  <string>nine-ar.glif</string>
  <key>nine-ar.medium</key>
  <string>nine-ar.medium.glif</string>
  <key>nine-ar.small</key>
  <string>nine-ar.small.glif</string>
  <key>nine-ar.tnum</key>
  <string>nine-ar.tnum.glif</string>
  <key>nine-persian</key>
  <string>nine-persian.glif</string>
  <key>nine-persian.medium</key>
  <string>nine-persian.medium.glif</string>
  <key>nine-persian.small</key>
  <string>nine-persian.small.glif</string>
  <key>nine-persian.tnum</key>
  <string>nine-persian.tnum.glif</string>
  <key>nine.medium</key>
  <string>nine.medium.glif</string>
  <key>nine.small</key>
  <string>nine.small.glif</string>
  <key>noonabove-ar</key>
  <string>noonabove-ar.glif</string>
  <key>noonghunna-ar</key>
  <string>noonghunna-ar.glif</string>
  <key>noonghunna-ar.fina</key>
  <string>noonghunna-ar.fina.glif</string>
  <key>noonghunnaabove-ar</key>
  <string>noonghunnaabove-ar.glif</string>
  <key>number-ar</key>
  <string>number-ar.glif</string>
  <key>number-ar.2</key>
  <string>number-ar.2.glif</string>
  <key>number-ar.3</key>
  <string>number-ar.3.glif</string>
  <key>numbermark-ar</key>
  <string>numbermark-ar.glif</string>
  <key>numbermark-ar.2</key>
  <string>numbermark-ar.2.glif</string>
  <key>numbermark-ar.3</key>
  <string>numbermark-ar.3.glif</string>
  <key>one-ar</key>
  <string>one-ar.glif</string>
  <key>one-ar.medium</key>
  <string>one-ar.medium.glif</string>
  <key>one-ar.small</key>
  <string>one-ar.small.glif</string>
  <key>one-ar.tnum</key>
  <string>one-ar.tnum.glif</string>
  <key>one-persian</key>
  <string>one-persian.glif</string>
  <key>one-persian.medium</key>
  <string>one-persian.medium.glif</string>
  <key>one-persian.small</key>
  <string>one-persian.small.glif</string>
  <key>one-persian.tnum</key>
  <string>one-persian.tnum.glif</string>
  <key>one.medium</key>
  <string>one.medium.glif</string>
  <key>one.small</key>
  <string>one.small.glif</string>
  <key>openfathatan-ar</key>
  <string>openfathatan-ar.glif</string>
  <key>openkasratan-ar</key>
  <string>openkasratan-ar.glif</string>
  <key>pagenumber-ar</key>
  <string>pagenumber-ar.glif</string>
  <key>pagenumber-ar.2</key>
  <string>pagenumber-ar.2.glif</string>
  <key>pagenumber-ar.3</key>
  <string>pagenumber-ar.3.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft-ar</key>
  <string>parenleft-ar.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent-ar</key>
  <string>percent-ar.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>qafDotless-ar.fina</key>
  <string>qafD_otless-ar.fina.glif</string>
  <key>qafLamAlefMaksuraabove-ar</key>
  <string>qafL_amA_lefM_aksuraabove-ar.glif</string>
  <key>question-ar</key>
  <string>question-ar.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblrightreversed</key>
  <string>quotedblrightreversed.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>radical.rtl</key>
  <string>radical.rtl.glif</string>
  <key>ray-ar</key>
  <string>ray-ar.glif</string>
  <key>reh-ar</key>
  <string>reh-ar.glif</string>
  <key>reh-ar.fina</key>
  <string>reh-ar.fina.glif</string>
  <key>reh-ar.fina.shrtail</key>
  <string>reh-ar.fina.shrtail.glif</string>
  <key>reh-ar.shrtail</key>
  <string>reh-ar.shrtail.glif</string>
  <key>rehDadabove-ar</key>
  <string>rehD_adabove-ar.glif</string>
  <key>rehHahabove-ar</key>
  <string>rehH_ahabove-ar.glif</string>
  <key>rehLoop-ar</key>
  <string>rehL_oop-ar.glif</string>
  <key>rehLoop-ar.fina</key>
  <string>rehL_oop-ar.fina.glif</string>
  <key>reversedsemicolon</key>
  <string>reversedsemicolon.glif</string>
  <key>rial</key>
  <string>rial.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad-ar.fina</key>
  <string>sad-ar.fina.glif</string>
  <key>sad-ar.init</key>
  <string>sad-ar.init.glif</string>
  <key>sad-ar.medi</key>
  <string>sad-ar.medi.glif</string>
  <key>sadLamAlefMaksuraabove-ar</key>
  <string>sadL_amA_lefM_aksuraabove-ar.glif</string>
  <key>sallallahouAlayheWassallamcomb-ar</key>
  <string>sallallahouA_layheW_assallamcomb-ar.glif</string>
  <key>samvat-ar</key>
  <string>samvat-ar.glif</string>
  <key>samvat-ar.2</key>
  <string>samvat-ar.2.glif</string>
  <key>samvat-ar.3</key>
  <string>samvat-ar.3.glif</string>
  <key>samvat-ar.4</key>
  <string>samvat-ar.4.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.fina</key>
  <string>seen-ar.fina.glif</string>
  <key>seen-ar.init</key>
  <string>seen-ar.init.glif</string>
  <key>seen-ar.medi</key>
  <string>seen-ar.medi.glif</string>
  <key>seenabove-ar</key>
  <string>seenabove-ar.glif</string>
  <key>seenbelow-ar</key>
  <string>seenbelow-ar.glif</string>
  <key>semicolon-ar</key>
  <string>semicolon-ar.glif</string>
  <key>semicolon-ar.downward</key>
  <string>semicolon-ar.downward.glif</string>
  <key>seven-ar</key>
  <string>seven-ar.glif</string>
  <key>seven-ar.medium</key>
  <string>seven-ar.medium.glif</string>
  <key>seven-ar.small</key>
  <string>seven-ar.small.glif</string>
  <key>seven-ar.tnum</key>
  <string>seven-ar.tnum.glif</string>
  <key>seven-persian</key>
  <string>seven-persian.glif</string>
  <key>seven-persian.medium</key>
  <string>seven-persian.medium.glif</string>
  <key>seven-persian.small</key>
  <string>seven-persian.small.glif</string>
  <key>seven-persian.tnum</key>
  <string>seven-persian.tnum.glif</string>
  <key>seven-persian.urdu</key>
  <string>seven-persian.urdu.glif</string>
  <key>seven-persian.urdu.medium</key>
  <string>seven-persian.urdu.medium.glif</string>
  <key>seven-persian.urdu.small</key>
  <string>seven-persian.urdu.small.glif</string>
  <key>seven-persian.urdu.tnum</key>
  <string>seven-persian.urdu.tnum.glif</string>
  <key>seven.medium</key>
  <string>seven.medium.glif</string>
  <key>seven.small</key>
  <string>seven.small.glif</string>
  <key>shadda-ar</key>
  <string>shadda-ar.glif</string>
  <key>shadda-ar.allah</key>
  <string>shadda-ar.allah.glif</string>
  <key>shadda_alef-ar</key>
  <string>shadda_alef-ar.glif</string>
  <key>shadda_damma-ar</key>
  <string>shadda_damma-ar.glif</string>
  <key>shadda_dammatan-ar</key>
  <string>shadda_dammatan-ar.glif</string>
  <key>shadda_dammatan-ar.sixNine</key>
  <string>shadda_dammatan-ar.sixN_ine.glif</string>
  <key>shadda_fatha-ar</key>
  <string>shadda_fatha-ar.glif</string>
  <key>shadda_fathatan-ar</key>
  <string>shadda_fathatan-ar.glif</string>
  <key>shadda_kasra-ar</key>
  <string>shadda_kasra-ar.glif</string>
  <key>shadda_kasratan-ar</key>
  <string>shadda_kasratan-ar.glif</string>
  <key>six-ar</key>
  <string>six-ar.glif</string>
  <key>six-ar.medium</key>
  <string>six-ar.medium.glif</string>
  <key>six-ar.small</key>
  <string>six-ar.small.glif</string>
  <key>six-ar.tnum</key>
  <string>six-ar.tnum.glif</string>
  <key>six-persian</key>
  <string>six-persian.glif</string>
  <key>six-persian.medium</key>
  <string>six-persian.medium.glif</string>
  <key>six-persian.small</key>
  <string>six-persian.small.glif</string>
  <key>six-persian.tnum</key>
  <string>six-persian.tnum.glif</string>
  <key>six-persian.urdu</key>
  <string>six-persian.urdu.glif</string>
  <key>six-persian.urdu.medium</key>
  <string>six-persian.urdu.medium.glif</string>
  <key>six-persian.urdu.small</key>
  <string>six-persian.urdu.small.glif</string>
  <key>six-persian.urdu.tnum</key>
  <string>six-persian.urdu.tnum.glif</string>
  <key>six.medium</key>
  <string>six.medium.glif</string>
  <key>six.small</key>
  <string>six.small.glif</string>
  <key>sukun-ar</key>
  <string>sukun-ar.glif</string>
  <key>sukun-ar.downOpen</key>
  <string>sukun-ar.downO_pen.glif</string>
  <key>tah-ar</key>
  <string>tah-ar.glif</string>
  <key>tah-ar.fina</key>
  <string>tah-ar.fina.glif</string>
  <key>tah-ar.init</key>
  <string>tah-ar.init.glif</string>
  <key>tah-ar.medi</key>
  <string>tah-ar.medi.glif</string>
  <key>takhallusabove-ar</key>
  <string>takhallusabove-ar.glif</string>
  <key>three-ar</key>
  <string>three-ar.glif</string>
  <key>three-ar.medium</key>
  <string>three-ar.medium.glif</string>
  <key>three-ar.small</key>
  <string>three-ar.small.glif</string>
  <key>three-ar.tnum</key>
  <string>three-ar.tnum.glif</string>
  <key>three-persian</key>
  <string>three-persian.glif</string>
  <key>three-persian.medium</key>
  <string>three-persian.medium.glif</string>
  <key>three-persian.small</key>
  <string>three-persian.small.glif</string>
  <key>three-persian.tnum</key>
  <string>three-persian.tnum.glif</string>
  <key>three.medium</key>
  <string>three.medium.glif</string>
  <key>three.small</key>
  <string>three.small.glif</string>
  <key>threedots-ar</key>
  <string>threedots-ar.glif</string>
  <key>threedotsabove-ar</key>
  <string>threedotsabove-ar.glif</string>
  <key>toneloopabove-ar</key>
  <string>toneloopabove-ar.glif</string>
  <key>two-ar</key>
  <string>two-ar.glif</string>
  <key>two-ar.medium</key>
  <string>two-ar.medium.glif</string>
  <key>two-ar.small</key>
  <string>two-ar.small.glif</string>
  <key>two-ar.tnum</key>
  <string>two-ar.tnum.glif</string>
  <key>two-persian</key>
  <string>two-persian.glif</string>
  <key>two-persian.medium</key>
  <string>two-persian.medium.glif</string>
  <key>two-persian.small</key>
  <string>two-persian.small.glif</string>
  <key>two-persian.tnum</key>
  <string>two-persian.tnum.glif</string>
  <key>two.medium</key>
  <string>two.medium.glif</string>
  <key>two.small</key>
  <string>two.small.glif</string>
  <key>vabove-ar</key>
  <string>vabove-ar.glif</string>
  <key>vinvertedabove-ar</key>
  <string>vinvertedabove-ar.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>waw-ar.fina</key>
  <string>waw-ar.fina.glif</string>
  <key>waw-ar.fina.shrtail</key>
  <string>waw-ar.fina.shrtail.glif</string>
  <key>waw-ar.shrtail</key>
  <string>waw-ar.shrtail.glif</string>
  <key>wawSmall-ar</key>
  <string>wawS_mall-ar.glif</string>
  <key>wawStraight-ar</key>
  <string>wawS_traight-ar.glif</string>
  <key>wawStraight-ar.fina</key>
  <string>wawS_traight-ar.fina.glif</string>
  <key>year-ar</key>
  <string>year-ar.glif</string>
  <key>year-ar.2</key>
  <string>year-ar.2.glif</string>
  <key>year-ar.3</key>
  <string>year-ar.3.glif</string>
  <key>year-ar.4</key>
  <string>year-ar.4.glif</string>
  <key>yeh-ar.noDots</key>
  <string>yeh-ar.noD_ots.glif</string>
  <key>yeh-ar.noDots.fina</key>
  <string>yeh-ar.noD_ots.fina.glif</string>
  <key>yehKashmiri-ar</key>
  <string>yehK_ashmiri-ar.glif</string>
  <key>yehRohingya-ar</key>
  <string>yehR_ohingya-ar.glif</string>
  <key>yehRohingya-ar.fina</key>
  <string>yehR_ohingya-ar.fina.glif</string>
  <key>yehSmall-ar</key>
  <string>yehS_mall-ar.glif</string>
  <key>yehTail-ar</key>
  <string>yehT_ail-ar.glif</string>
  <key>yehTail-ar.fina</key>
  <string>yehT_ail-ar.fina.glif</string>
  <key>yehabove-ar</key>
  <string>yehabove-ar.glif</string>
  <key>yehbarree-ar</key>
  <string>yehbarree-ar.glif</string>
  <key>yehbarree-ar.fina</key>
  <string>yehbarree-ar.fina.glif</string>
  <key>zero-ar.medium</key>
  <string>zero-ar.medium.glif</string>
  <key>zero-ar.small</key>
  <string>zero-ar.small.glif</string>
  <key>zero-persian</key>
  <string>zero-persian.glif</string>
  <key>zero-persian.medium</key>
  <string>zero-persian.medium.glif</string>
  <key>zero-persian.small</key>
  <string>zero-persian.small.glif</string>
  <key>zero-persian.tnum</key>
  <string>zero-persian.tnum.glif</string>
  <key>zero.medium</key>
  <string>zero.medium.glif</string>
  <key>zero.small</key>
  <string>zero.small.glif</string>
</dict>
</plist>
