<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_absSwashKaf</key>
  <string>_absS_washK_af.glif</string>
  <key>_bowl_seen</key>
  <string>_bowl_seen.glif</string>
  <key>_damma</key>
  <string>_damma.glif</string>
  <key>_dot1_hat</key>
  <string>_dot1_hat.glif</string>
  <key>_dot1_smallV</key>
  <string>_dot1_smallV_.glif</string>
  <key>_dot1_tah</key>
  <string>_dot1_tah.glif</string>
  <key>_dot2h</key>
  <string>_dot2h.glif</string>
  <key>_dot2h_tah</key>
  <string>_dot2h_tah.glif</string>
  <key>_dot2v</key>
  <string>_dot2v.glif</string>
  <key>_dot3d</key>
  <string>_dot3d.glif</string>
  <key>_dot3h</key>
  <string>_dot3h.glif</string>
  <key>_dot3u</key>
  <string>_dot3u.glif</string>
  <key>_dot3u_tah</key>
  <string>_dot3u_tah.glif</string>
  <key>_dot4</key>
  <string>_dot4.glif</string>
  <key>_gafBarShort_dot2h</key>
  <string>_gafB_arS_hort_dot2h.glif</string>
  <key>_gafBarShort_dot3u</key>
  <string>_gafB_arS_hort_dot3u.glif</string>
  <key>_gafBar_dot2h</key>
  <string>_gafB_ar_dot2h.glif</string>
  <key>_gafBar_dot3u</key>
  <string>_gafB_ar_dot3u.glif</string>
  <key>_hamzaDamma</key>
  <string>_hamzaD_amma.glif</string>
  <key>_hamzaDamma.filled</key>
  <string>_hamzaD_amma.filled.glif</string>
  <key>_highHamza</key>
  <string>_highH_amza.glif</string>
  <key>_hook</key>
  <string>_hook.glif</string>
  <key>_invSmallV</key>
  <string>_invS_mallV_.glif</string>
  <key>_kaf_s</key>
  <string>_kaf_s.glif</string>
  <key>_lines</key>
  <string>_lines.glif</string>
  <key>_madda</key>
  <string>_madda.glif</string>
  <key>_smallV</key>
  <string>_smallV_.glif</string>
  <key>_strokeHead</key>
  <string>_strokeH_ead.glif</string>
  <key>_tah</key>
  <string>_tah.glif</string>
  <key>_wasla</key>
  <string>_wasla.glif</string>
  <key>_wavyHamza</key>
  <string>_wavyH_amza.glif</string>
  <key>_wavyHamza.b</key>
  <string>_wavyH_amza.b.glif</string>
  <key>absAe</key>
  <string>absA_e.glif</string>
  <key>absAeFin</key>
  <string>absA_eF_in.glif</string>
  <key>absAin</key>
  <string>absA_in.glif</string>
  <key>absAinFin</key>
  <string>absA_inF_in.glif</string>
  <key>absAinIni</key>
  <string>absA_inI_ni.glif</string>
  <key>absAinMed</key>
  <string>absA_inM_ed.glif</string>
  <key>absAlef</key>
  <string>absA_lef.glif</string>
  <key>absAlefFin</key>
  <string>absA_lefF_in.glif</string>
  <key>absAutoKashida</key>
  <string>absA_utoK_ashida.glif</string>
  <key>absBehNoDots</key>
  <string>absB_ehN_oD_ots.glif</string>
  <key>absBehNoDotsFin</key>
  <string>absB_ehN_oD_otsF_in.glif</string>
  <key>absBehNoDotsIni</key>
  <string>absB_ehN_oD_otsI_ni.glif</string>
  <key>absBehNoDotsMed</key>
  <string>absB_ehN_oD_otsM_ed.glif</string>
  <key>absDal</key>
  <string>absD_al.glif</string>
  <key>absDalFin</key>
  <string>absD_alF_in.glif</string>
  <key>absDamma</key>
  <string>absD_amma.glif</string>
  <key>absDammatan</key>
  <string>absD_ammatan.glif</string>
  <key>absDammatan.sixNine</key>
  <string>absD_ammatan.sixN_ine.glif</string>
  <key>absDotlessFeh</key>
  <string>absD_otlessF_eh.glif</string>
  <key>absDotlessFehFin</key>
  <string>absD_otlessF_ehF_in.glif</string>
  <key>absDotlessFehIni</key>
  <string>absD_otlessF_ehI_ni.glif</string>
  <key>absDotlessFehMed</key>
  <string>absD_otlessF_ehM_ed.glif</string>
  <key>absEasternEight</key>
  <string>absE_asternE_ight.glif</string>
  <key>absEasternEightMedium</key>
  <string>absE_asternE_ightM_edium.glif</string>
  <key>absEasternEightSmall</key>
  <string>absE_asternE_ightS_mall.glif</string>
  <key>absEasternFive</key>
  <string>absE_asternF_ive.glif</string>
  <key>absEasternFiveMedium</key>
  <string>absE_asternF_iveM_edium.glif</string>
  <key>absEasternFiveSmall</key>
  <string>absE_asternF_iveS_mall.glif</string>
  <key>absEasternFour</key>
  <string>absE_asternF_our.glif</string>
  <key>absEasternFour.urdu</key>
  <string>absE_asternF_our.urdu.glif</string>
  <key>absEasternFourMedium</key>
  <string>absE_asternF_ourM_edium.glif</string>
  <key>absEasternFourMedium.urdu</key>
  <string>absE_asternF_ourM_edium.urdu.glif</string>
  <key>absEasternFourSmall</key>
  <string>absE_asternF_ourS_mall.glif</string>
  <key>absEasternFourSmall.urdu</key>
  <string>absE_asternF_ourS_mall.urdu.glif</string>
  <key>absEasternNine</key>
  <string>absE_asternN_ine.glif</string>
  <key>absEasternNineMedium</key>
  <string>absE_asternN_ineM_edium.glif</string>
  <key>absEasternNineSmall</key>
  <string>absE_asternN_ineS_mall.glif</string>
  <key>absEasternOne</key>
  <string>absE_asternO_ne.glif</string>
  <key>absEasternOneMedium</key>
  <string>absE_asternO_neM_edium.glif</string>
  <key>absEasternOneSmall</key>
  <string>absE_asternO_neS_mall.glif</string>
  <key>absEasternSeven</key>
  <string>absE_asternS_even.glif</string>
  <key>absEasternSeven.urdu</key>
  <string>absE_asternS_even.urdu.glif</string>
  <key>absEasternSevenMedium</key>
  <string>absE_asternS_evenM_edium.glif</string>
  <key>absEasternSevenMedium.urdu</key>
  <string>absE_asternS_evenM_edium.urdu.glif</string>
  <key>absEasternSevenSmall</key>
  <string>absE_asternS_evenS_mall.glif</string>
  <key>absEasternSevenSmall.urdu</key>
  <string>absE_asternS_evenS_mall.urdu.glif</string>
  <key>absEasternSix</key>
  <string>absE_asternS_ix.glif</string>
  <key>absEasternSix.urdu</key>
  <string>absE_asternS_ix.urdu.glif</string>
  <key>absEasternSixMedium</key>
  <string>absE_asternS_ixM_edium.glif</string>
  <key>absEasternSixMedium.urdu</key>
  <string>absE_asternS_ixM_edium.urdu.glif</string>
  <key>absEasternSixSmall</key>
  <string>absE_asternS_ixS_mall.glif</string>
  <key>absEasternSixSmall.urdu</key>
  <string>absE_asternS_ixS_mall.urdu.glif</string>
  <key>absEasternThree</key>
  <string>absE_asternT_hree.glif</string>
  <key>absEasternThreeMedium</key>
  <string>absE_asternT_hreeM_edium.glif</string>
  <key>absEasternThreeSmall</key>
  <string>absE_asternT_hreeS_mall.glif</string>
  <key>absEasternTwo</key>
  <string>absE_asternT_wo.glif</string>
  <key>absEasternTwoMedium</key>
  <string>absE_asternT_woM_edium.glif</string>
  <key>absEasternTwoSmall</key>
  <string>absE_asternT_woS_mall.glif</string>
  <key>absEasternZero</key>
  <string>absE_asternZ_ero.glif</string>
  <key>absEasternZeroMedium</key>
  <string>absE_asternZ_eroM_edium.glif</string>
  <key>absEasternZeroSmall</key>
  <string>absE_asternZ_eroS_mall.glif</string>
  <key>absEight</key>
  <string>absE_ight.glif</string>
  <key>absEightMedium</key>
  <string>absE_ightM_edium.glif</string>
  <key>absEightSmall</key>
  <string>absE_ightS_mall.glif</string>
  <key>absFathaTwoDots</key>
  <string>absF_athaT_woD_ots.glif</string>
  <key>absFathatan</key>
  <string>absF_athatan.glif</string>
  <key>absFive</key>
  <string>absF_ive.glif</string>
  <key>absFiveMedium</key>
  <string>absF_iveM_edium.glif</string>
  <key>absFiveSmall</key>
  <string>absF_iveS_mall.glif</string>
  <key>absFour</key>
  <string>absF_our.glif</string>
  <key>absFourMedium</key>
  <string>absF_ourM_edium.glif</string>
  <key>absFourSmall</key>
  <string>absF_ourS_mall.glif</string>
  <key>absHah</key>
  <string>absH_ah.glif</string>
  <key>absHahFin</key>
  <string>absH_ahF_in.glif</string>
  <key>absHahIni</key>
  <string>absH_ahI_ni.glif</string>
  <key>absHahMed</key>
  <string>absH_ahM_ed.glif</string>
  <key>absHamza</key>
  <string>absH_amza.glif</string>
  <key>absHamzaAbove</key>
  <string>absH_amzaA_bove.glif</string>
  <key>absHamzaBelow</key>
  <string>absH_amzaB_elow.glif</string>
  <key>absHamzaDamma</key>
  <string>absH_amzaD_amma.glif</string>
  <key>absHamzaFatha</key>
  <string>absH_amzaF_atha.glif</string>
  <key>absHehDoachashmee</key>
  <string>absH_ehD_oachashmee.glif</string>
  <key>absHehDoachashmeeFin</key>
  <string>absH_ehD_oachashmeeF_in.glif</string>
  <key>absHehDoachashmeeIni</key>
  <string>absH_ehD_oachashmeeI_ni.glif</string>
  <key>absHehDoachashmeeMed</key>
  <string>absH_ehD_oachashmeeM_ed.glif</string>
  <key>absHehFin.knottedHigh</key>
  <string>absH_ehF_in.knottedH_igh.glif</string>
  <key>absHehGoalFin</key>
  <string>absH_ehG_oalF_in.glif</string>
  <key>absHehGoalIni</key>
  <string>absH_ehG_oalI_ni.glif</string>
  <key>absHehGoalMed</key>
  <string>absH_ehG_oalM_ed.glif</string>
  <key>absHehMed.knottedHigh</key>
  <string>absH_ehM_ed.knottedH_igh.glif</string>
  <key>absHighHamza</key>
  <string>absH_ighH_amza.glif</string>
  <key>absKaf</key>
  <string>absK_af.glif</string>
  <key>absKafFin</key>
  <string>absK_afF_in.glif</string>
  <key>absKafIni</key>
  <string>absK_afI_ni.glif</string>
  <key>absKafMed</key>
  <string>absK_afM_ed.glif</string>
  <key>absKasra</key>
  <string>absK_asra.glif</string>
  <key>absKasratan</key>
  <string>absK_asratan.glif</string>
  <key>absKeheh</key>
  <string>absK_eheh.glif</string>
  <key>absKehehFin</key>
  <string>absK_ehehF_in.glif</string>
  <key>absLam</key>
  <string>absL_am.glif</string>
  <key>absLamFin</key>
  <string>absL_amF_in.glif</string>
  <key>absLamIni</key>
  <string>absL_amI_ni.glif</string>
  <key>absLamIni.preAlef</key>
  <string>absL_amI_ni.preA_lef.glif</string>
  <key>absLamMed</key>
  <string>absL_amM_ed.glif</string>
  <key>absLigatureAllah</key>
  <string>absL_igatureA_llah.glif</string>
  <key>absMaddahAbove</key>
  <string>absM_addahA_bove.glif</string>
  <key>absMeem</key>
  <string>absM_eem.glif</string>
  <key>absMeem.sindhi</key>
  <string>absM_eem.sindhi.glif</string>
  <key>absMeemFin</key>
  <string>absM_eemF_in.glif</string>
  <key>absMeemFin.sindhi</key>
  <string>absM_eemF_in.sindhi.glif</string>
  <key>absMeemIni</key>
  <string>absM_eemI_ni.glif</string>
  <key>absMeemMed</key>
  <string>absM_eemM_ed.glif</string>
  <key>absNine</key>
  <string>absN_ine.glif</string>
  <key>absNineMedium</key>
  <string>absN_ineM_edium.glif</string>
  <key>absNineSmall</key>
  <string>absN_ineS_mall.glif</string>
  <key>absNoonGhunna</key>
  <string>absN_oonG_hunna.glif</string>
  <key>absNoonGhunnaFin</key>
  <string>absN_oonG_hunnaF_in.glif</string>
  <key>absOne</key>
  <string>absO_ne.glif</string>
  <key>absOneMedium</key>
  <string>absO_neM_edium.glif</string>
  <key>absOneSmall</key>
  <string>absO_neS_mall.glif</string>
  <key>absQafNoDots</key>
  <string>absQ_afN_oD_ots.glif</string>
  <key>absQafNoDotsFin</key>
  <string>absQ_afN_oD_otsF_in.glif</string>
  <key>absReh</key>
  <string>absR_eh.glif</string>
  <key>absRehFin</key>
  <string>absR_ehF_in.glif</string>
  <key>absRehLoop</key>
  <string>absR_ehL_oop.glif</string>
  <key>absRehLoopFin</key>
  <string>absR_ehL_oopF_in.glif</string>
  <key>absReversedDamma</key>
  <string>absR_eversedD_amma.glif</string>
  <key>absRialSign</key>
  <string>absR_ialS_ign.glif</string>
  <key>absSad</key>
  <string>absS_ad.glif</string>
  <key>absSadFin</key>
  <string>absS_adF_in.glif</string>
  <key>absSadIni</key>
  <string>absS_adI_ni.glif</string>
  <key>absSadMed</key>
  <string>absS_adM_ed.glif</string>
  <key>absSeen</key>
  <string>absS_een.glif</string>
  <key>absSeenFin</key>
  <string>absS_eenF_in.glif</string>
  <key>absSeenIni</key>
  <string>absS_eenI_ni.glif</string>
  <key>absSeenMed</key>
  <string>absS_eenM_ed.glif</string>
  <key>absSeven</key>
  <string>absS_even.glif</string>
  <key>absSevenMedium</key>
  <string>absS_evenM_edium.glif</string>
  <key>absSevenSmall</key>
  <string>absS_evenS_mall.glif</string>
  <key>absShadda</key>
  <string>absS_hadda.glif</string>
  <key>absShaddaAlef</key>
  <string>absS_haddaA_lef.glif</string>
  <key>absShaddaDamma</key>
  <string>absS_haddaD_amma.glif</string>
  <key>absShaddaDammatan</key>
  <string>absS_haddaD_ammatan.glif</string>
  <key>absShaddaFatha</key>
  <string>absS_haddaF_atha.glif</string>
  <key>absShaddaFathatan</key>
  <string>absS_haddaF_athatan.glif</string>
  <key>absShaddaKasra</key>
  <string>absS_haddaK_asra.glif</string>
  <key>absShaddaKasratan</key>
  <string>absS_haddaK_asratan.glif</string>
  <key>absSix</key>
  <string>absS_ix.glif</string>
  <key>absSixMedium</key>
  <string>absS_ixM_edium.glif</string>
  <key>absSixSmall</key>
  <string>absS_ixS_mall.glif</string>
  <key>absSmallHighJeem</key>
  <string>absS_mallH_ighJ_eem.glif</string>
  <key>absSmallHighLamAlef</key>
  <string>absS_mallH_ighL_amA_lef.glif</string>
  <key>absSmallHighMeemInitialForm</key>
  <string>absS_mallH_ighM_eemI_nitialF_orm.glif</string>
  <key>absSmallHighMeemIsolatedForm</key>
  <string>absS_mallH_ighM_eemI_solatedF_orm.glif</string>
  <key>absSmallHighNoon</key>
  <string>absS_mallH_ighN_oon.glif</string>
  <key>absSmallHighQafLamAlefMaksura</key>
  <string>absS_mallH_ighQ_afL_amA_lefM_aksura.glif</string>
  <key>absSmallHighSadLamAlefMaksura</key>
  <string>absS_mallH_ighS_adL_amA_lefM_aksura.glif</string>
  <key>absSmallHighSeen</key>
  <string>absS_mallH_ighS_een.glif</string>
  <key>absSmallHighThreeDots</key>
  <string>absS_mallH_ighT_hreeD_ots.glif</string>
  <key>absSmallHighYeh</key>
  <string>absS_mallH_ighY_eh.glif</string>
  <key>absSmallLowSeen</key>
  <string>absS_mallL_owS_een.glif</string>
  <key>absSmallWaw</key>
  <string>absS_mallW_aw.glif</string>
  <key>absStartOfRubElHizb</key>
  <string>absS_tartO_fR_ubE_lH_izb.glif</string>
  <key>absSubscriptAlef</key>
  <string>absS_ubscriptA_lef.glif</string>
  <key>absSwashKaf</key>
  <string>absS_washK_af.glif</string>
  <key>absSwashKafFin</key>
  <string>absS_washK_afF_in.glif</string>
  <key>absSwashKafIni</key>
  <string>absS_washK_afI_ni.glif</string>
  <key>absSwashKafMed</key>
  <string>absS_washK_afM_ed.glif</string>
  <key>absTah</key>
  <string>absT_ah.glif</string>
  <key>absTahFin</key>
  <string>absT_ahF_in.glif</string>
  <key>absTahIni</key>
  <string>absT_ahI_ni.glif</string>
  <key>absTahMed</key>
  <string>absT_ahM_ed.glif</string>
  <key>absThree</key>
  <string>absT_hree.glif</string>
  <key>absThreeMedium</key>
  <string>absT_hreeM_edium.glif</string>
  <key>absThreeSmall</key>
  <string>absT_hreeS_mall.glif</string>
  <key>absTripleDotPunct</key>
  <string>absT_ripleD_otP_unct.glif</string>
  <key>absTwo</key>
  <string>absT_wo.glif</string>
  <key>absTwoMedium</key>
  <string>absT_woM_edium.glif</string>
  <key>absTwoSmall</key>
  <string>absT_woS_mall.glif</string>
  <key>absVowelInvSmallV</key>
  <string>absV_owelI_nvS_mallV_.glif</string>
  <key>absVowelSmallV</key>
  <string>absV_owelS_mallV_.glif</string>
  <key>absWaw</key>
  <string>absW_aw.glif</string>
  <key>absWawFin</key>
  <string>absW_awF_in.glif</string>
  <key>absYeh.noDots</key>
  <string>absY_eh.noD_ots.glif</string>
  <key>absYehBarree</key>
  <string>absY_ehB_arree.glif</string>
  <key>absYehBarreeFin</key>
  <string>absY_ehB_arreeF_in.glif</string>
  <key>absYehFin.noDots</key>
  <string>absY_ehF_in.noD_ots.glif</string>
  <key>absYehTail</key>
  <string>absY_ehT_ail.glif</string>
  <key>absYehTailFin</key>
  <string>absY_ehT_ailF_in.glif</string>
  <key>absZeroMedium</key>
  <string>absZ_eroM_edium.glif</string>
  <key>absZeroSmall</key>
  <string>absZ_eroS_mall.glif</string>
  <key>eightMedium</key>
  <string>eightM_edium.glif</string>
  <key>eightSmall</key>
  <string>eightS_mall.glif</string>
  <key>fiveMedium</key>
  <string>fiveM_edium.glif</string>
  <key>fiveSmall</key>
  <string>fiveS_mall.glif</string>
  <key>fourMedium</key>
  <string>fourM_edium.glif</string>
  <key>fourSmall</key>
  <string>fourS_mall.glif</string>
  <key>nineMedium</key>
  <string>nineM_edium.glif</string>
  <key>nineSmall</key>
  <string>nineS_mall.glif</string>
  <key>oneMedium</key>
  <string>oneM_edium.glif</string>
  <key>oneSmall</key>
  <string>oneS_mall.glif</string>
  <key>ornateLeftParen</key>
  <string>ornateL_eftP_aren.glif</string>
  <key>sevenMedium</key>
  <string>sevenM_edium.glif</string>
  <key>sevenSmall</key>
  <string>sevenS_mall.glif</string>
  <key>sixMedium</key>
  <string>sixM_edium.glif</string>
  <key>sixSmall</key>
  <string>sixS_mall.glif</string>
  <key>threeMedium</key>
  <string>threeM_edium.glif</string>
  <key>threeSmall</key>
  <string>threeS_mall.glif</string>
  <key>twoMedium</key>
  <string>twoM_edium.glif</string>
  <key>twoSmall</key>
  <string>twoS_mall.glif</string>
  <key>zeroMedium</key>
  <string>zeroM_edium.glif</string>
  <key>zeroSmall</key>
  <string>zeroS_mall.glif</string>
</dict>
</plist>
