<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_absSwashKaf</key>
  <string>_absS_washK_af.glif</string>
  <key>_bowl_seen</key>
  <string>_bowl_seen.glif</string>
  <key>_dot4</key>
  <string>_dot4.glif</string>
  <key>_kehehjoiner</key>
  <string>_kehehjoiner.glif</string>
  <key>_strokeHead</key>
  <string>_strokeH_ead.glif</string>
  <key>_tah_bowl</key>
  <string>_tah_bowl.glif</string>
  <key>_tah_small</key>
  <string>_tah_small.glif</string>
  <key>_wavyHamza</key>
  <string>_wavyH_amza.glif</string>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ainabove-ar</key>
  <string>ainabove-ar.glif</string>
  <key>alef-ar</key>
  <string>alef-ar.glif</string>
  <key>alef-ar.allah</key>
  <string>alef-ar.allah.glif</string>
  <key>alef-ar.fina.postLamIni</key>
  <string>alef-ar.fina.postL_amI_ni.glif</string>
  <key>behDotless-ar</key>
  <string>behD_otless-ar.glif</string>
  <key>behDotless-ar.medi</key>
  <string>behD_otless-ar.medi.glif</string>
  <key>dal-ar</key>
  <string>dal-ar.glif</string>
  <key>dal-ar.fina</key>
  <string>dal-ar.fina.glif</string>
  <key>dammatan-ar</key>
  <string>dammatan-ar.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless-ar.init</key>
  <string>fehD_otless-ar.init.glif</string>
  <key>hah-ar</key>
  <string>hah-ar.glif</string>
  <key>heh-ar.medi.knottedHigh</key>
  <string>heh-ar.medi.knottedH_igh.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>lam-ar</key>
  <string>lam-ar.glif</string>
  <key>lam-ar.fina</key>
  <string>lam-ar.fina.glif</string>
  <key>lam-ar.init</key>
  <string>lam-ar.init.glif</string>
  <key>lam-ar.init.allah1</key>
  <string>lam-ar.init.allah1.glif</string>
  <key>lam-ar.medi.preAlef</key>
  <string>lam-ar.medi.preA_lef.glif</string>
  <key>meem-ar</key>
  <string>meem-ar.glif</string>
  <key>rehLoop-ar.fina</key>
  <string>rehL_oop-ar.fina.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sadLamAlefMaksuraabove-ar</key>
  <string>sadL_amA_lefM_aksuraabove-ar.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.fina</key>
  <string>seen-ar.fina.glif</string>
  <key>shadda-ar</key>
  <string>shadda-ar.glif</string>
  <key>shadda-ar.allah</key>
  <string>shadda-ar.allah.glif</string>
  <key>tah-ar</key>
  <string>tah-ar.glif</string>
  <key>vabove-ar</key>
  <string>vabove-ar.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>waw-ar.fina</key>
  <string>waw-ar.fina.glif</string>
  <key>zainabove-ar</key>
  <string>zainabove-ar.glif</string>
</dict>
</plist>
